.header {
  padding: 1.25rem 3.75rem;
  background-color: var(--clr-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.25rem 1.875rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}

@media (max-width: 340px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.headingContainer {
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}
