.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.label {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
}

.button {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--clr-3);
  padding-block: 1rem;
  background-color: var(--clr-4);
  border: none;
  border-radius: 5px;
  text-align: center;
}

.input {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border: 1px solid var(--clr-3);
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
}
