.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
}

.heading {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 1.125rem;
    /* text-align: center; */
  }
}

@media (max-width: 650px) {
  .heading {
    font-size: 1.3rem;
    text-align: center;
  }
}

.list {
  list-style: none;
  display: flex;
  column-gap: 1.5rem;
}
