.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  align-self: center;
  justify-content: center;
  width: min-content;
}

@media (max-width: 1200px) {
  .form {
    align-self: inherit;
  }
}

.heading {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--clr-3);
  font-size: 1.625rem;
  width: max-content;
}

@media (max-width: 1200px) {
  .heading {
    font-size: 1.125rem;
  }
}

@media (max-width: 650px) {
  .heading {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .heading {
    width: fit-content;
  }
}

.para {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--clr-3);
  font-size: 1.25rem;
  width: 100%;
}

@media (max-width: 1200px) {
  .para {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .para {
    text-align: center;
  }
}

.inputContainer {
  display: flex;
  column-gap: 1rem;
}

@media (max-width: 1200px) {
  .inputContainer {
    column-gap: 0.5rem;
  }
}

@media (max-width: 420px) {
  .inputContainer {
    flex-direction: column;
    row-gap: 1rem;
  }
}

.input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 0.8rem;
}

@media (max-width: 650px) {
  .input {
    padding: 0.7rem 0.8rem;
  }
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--clr-4);
  color: var(--clr-3);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

@media (max-width: 650px) {
  .button {
    padding: 0.8rem 1.3rem;
  }
}
