.footer {
  padding: 1.9rem 11.25rem;
  background-color: var(--clr-1);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .footer {
    padding-inline: 2.5rem;
  }
}

@media (max-width: 650px) {
  .footer {
    padding-inline: 1.5rem;
    flex-direction: column-reverse;
    row-gap: 2rem;
    align-items: center;
  }
}
