.container {
  margin: 3.125rem 1rem;
  color: var(--clr-3);
  display: grid;
  row-gap: 3.125rem;
}

.heading {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.subContainer {
  display: grid;
  row-gap: 1.5rem;
}
