@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-1: #d2d79f;
  --clr-2: #1b1b18;
  --clr-3: #483838;
  --clr-4: #90b77d;
  --clr-5: #faf4e1;
}

body {
  background-color: var(--clr-5);
}

#_container {
  min-height: 100vh;
  background-color: var(--clr-5);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 1800px) {
  #_container {
    width: 1600px;
    margin: 0 auto;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
