.container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.error {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}
